// トパーズカラー
$topaz-color: linear-gradient(to right, #29A3BF, #4BCBBB);

// トパーズ暗い方
$topaz-dark: #29A3BF;

// トパーズ明るい方
$topaz-light: #4BCBBB;

// 白色
$color-white: #fff;

// 黒色
$color-black: #222;

// ボタンのボーダーカラー
$border-color: 3px solid #29A3BF;

// ↑ホバーカラー
$border-hover: 3px solid #eee;

// 作品の影
$opus-shadow: 4px 4px 4px #808080;

// ↑ホバーカラー
$opus-hover: 1px 1px 1px #808080;


// App Mv Footer slider Opus HeaderTopaz           Content
