// トパーズカラー
$topaz-color: linear-gradient(to right, #29A3BF, #4BCBBB);

// トパーズ暗い方
$topaz-dark: #29A3BF;

// トパーズ明るい方
$topaz-light: #4BCBBB;

// 白色
$color-white: #fff;

// 黒色
$color-black: #222;

// ボタンのボーダーカラー
$border-color: 3px solid #29A3BF;

// ↑ホバーのボーダーカラー
$border-hover: 3px solid #eee;


// App Mv Footer slider

// Header dispalay:none;